main {
    max-width: 100vw;
    height: 110vh;
    background-image: url("../assets/background.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav {
    width: 90%;
    height: 200px;
    background: #fff;
    position: absolute;
    top: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.home-page {
    width: 800px;
    text-align: center;
    margin-top: 150px;
}

.home-page h1 {
    font-size: 70px;
    color: #fff;
}

.home-page p {
    letter-spacing: 0.7px;
    font-size: 20px;
    color: #fff;
    margin: 30px 0 30px;
}

.button-query,
.button-services {
    width: 170px;
    height: 40px;
    background: #DEC7A6;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin: 0 30px;
    transition: 600ms ease-in-out;
}

.button-query:hover {
    color: #fff;
    background: #000;
    border: 2px solid #fff;
}

.button-services {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
}

.button-services:hover {
    color: #000;
    background: #DEC7A6;
    border: none;
}

.section-about {
    background: #f8f5ef;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
}

.box-about {
    width: 70%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-about-text {
    width: 50%;
    text-align: left;
}

.box-about-text h2 {
    font-size: 48px;
}

.box-about-text p {
    font-size: 16px;
    margin: 20px 0;
}

.status-about {
    display: flex;
    align-items: end;
}

.status {
    width: 100px;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    margin-right: 21px;
}

.imagem-haircut {
    height: 400px;
}

.section-services {
    width: 100vw;
    height: auto;
    background: #f8f5ef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.title-services {
    font-size: 48px;
    margin-top: 140px;
}

.paragraph-services {
    width: 500px;
    text-align: center;
    font-size: 16px;
    margin: 34px 0 74px;
}

.nav-services {
    width: 800px;
    background: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    padding: 20px;
    gap: 80px;
    margin-bottom: 40px;
}

.services {
    width: 300px;
    height: 150px;
}

.services img {
    display: inline-block;
    margin-right: 30px;
}

.info-services {
    text-align: left;
    display: inline-block;
    position: absolute;
    width: 250px;
}

.info-services h3 {
    font-size: 24px;
}

.info-services p {
    font-size: 16px;
    margin: 10px 0 15px;
}

.info-services .value {
    font-size: 24px;
}

.section-advertising {
    width: 100vw;
    height: 593px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/advertising.png');
    background-size: cover;
    text-align: center;
}

.section-advertising h2 {
    font-size: 48px;
    font-weight: 700px;
    width: 650px;
    color: #fff;
    margin-bottom: 46px;
}

.section-qualifications {
    background: #DEC7A6;
    width: 100vw;
    height: 150vh;
    text-align: center;   
    padding: 100px 0; 
}

.box-certificates {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 140px;
}

.description {
    width: 450px;
    margin-bottom: 50px;
}

.description h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

.certificates {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.certificates div {
    width: 250px;
}

.box-assessments {
    width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}